
:root{
     /* Deklaration */
     --main-color: rgb(255,248,220);
     --secondary-color: rgb(30,144,255);
     --shadow-color: rgba(0, 0, 0, 0.1);
 
     /* kein camel case benutzen sondern Bindestriche */
     --basic-line-height: 1.5;
     --border-radius: 10px;
    /*  ...  */
}

